@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
    font-family: 'Quicksand', sans-serif;
    background-color: #24292d;
}
.title{
    display: flex;
    justify-content: center;
	align-items: center;
	flex-direction: column;
    padding-top: 4rem;
    padding-bottom: 4rem;
    color: #fff;
    font-size: 1.3rem;
}
.title h1 {
    font-weight: 400;
}
.timeline-section{
	background-color: #24292d;
	min-height: 100vh;
	padding: 40px 15px;
}
.timeline-items{
	max-width: 1000px;
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.timeline-items::before{
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: #2f363e;
	left: calc(50% - 1px);
}
.timeline-item{
	margin-bottom: 10px;
	width: 100%;
	position: relative;
}
.timeline-item:last-child{
	margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
	text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-dot{
	height: 16px;
	width: 16px;
	background-color: #eaa023;
	position: absolute;
	left: calc(50% - 8px);
	border-radius: 50%;
	top:10px;
}
.timeline-date{
	font-size: 18px;
	color: #eaa023;
	margin:6px 0 15px;
}
.timeline-content{
    background-color: #2f363e;
	padding: 30px;
	border-radius: 5px;
}
.timeline-content h3{
    font-size: 20px;
	color: #ffffff;
	margin:0 0 10px;
	text-transform: capitalize;
	font-weight: 500;
}
.timeline-content p{
    color: #c8c8c8;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
}

/* responsive */
@media(max-width: 767px){
	.timeline-items::before{
		left: 7px;
	}
	.timeline-item:nth-child(odd){
		padding-right: 0;
		text-align: left;
	}
	.timeline-item:nth-child(odd),
	.timeline-item:nth-child(even){
		padding-left: 37px;
	}
	.timeline-dot{
		left:0;
	}
}

.drop {
    width: 200px;
    cursor: pointer;
    display: block;
    background: #00ad5f;
    color: rgb(61, 61, 61);
    padding: 5px;
    margin: 10px auto;
    border-radius: 100px;
    width: 200px;
    text-align: center;
  }

  input[type="checkbox"]  {
   display: none;
  }
  
  input +.drop +  div
  
  {
    display:none;
  }
  .drop:after {
    content:'▼';
    }
  :checked  + .drop:after {
    content:'▲';
    }
  input:checked + .drop + div{
    display:block;
  }

a {
	color: #00ad5f;
}  

a:hover {
	color: #00c66d;
}

.name-icon {
	height: 30px;
	width: auto;
	vertical-align: middle;
}

#title-welcome {
	font-size: 1rem;
	width: 50%;
	text-align: center;
	margin-top: 5px;
}
